h1 {
    font-family: sans-serif;
    text-align: center;
    color: red;
  }

  p {
    font-family: sans-serif;
    text-align: center;
    color: #a771da;
  }

  a {
    color:rgba(255, 0, 0, 0.584);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }